<?php declare(strict_types=1);

if (!file_exists(getcwd() . '/../ilias.ini.php')) {
    exit();
}

define("ILIAS_HTTP_PATH", "{{ ilias_http_path }}");

require_once("../vendor/composer/vendor/autoload.php");
ilContext::init(ilContext::CONTEXT_CRON);

ilInitialisation::initILIAS();

ilSamlSettings::getInstance()->setLoginFormStatus(true);
$idp = new ilSamlIdp();
$idp->setActive(true);
$idp->setEntityId("{{ keycloak_host_name }}/realms/master");
$idp->setLocalLocalAuthenticationStatus(true);
$idp->setUidClaim("email");
$idp->setSynchronizationStatus(true);
$idp->setLoginClaim("email");
$idp->setDefaultRoleId(2);
$idp->setAccountMigrationStatus(false);
$idp->persist();
$factory = new ilSamlAuthFactory();
$samlAuth = $factory->auth();
$idpDisco = $samlAuth->getIdpDiscovery();
$idpDisco->storeIdpMetadata($idp->getIdpId(), '{{ idp_meta }}');
